<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro da Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <div class="login-form-wrapper">
            <img src="assets/images/Logo.jpeg" alt="Futuro TEC Logo" class="login-logo">

            <ion-text color="dark">
              <h2>Crie sua conta</h2>
            </ion-text>

            <form (ngSubmit)="register()" #registerForm="ngForm">
              <ion-list>
                <ion-item>
                  <ion-input label="Nome da Empresa" labelPlacement="floating" type="text" name="nomeEmpresa"
                    [(ngModel)]="nomeEmpresa" required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="CNPJ" labelPlacement="floating" type="text" name="cnpj" [(ngModel)]="cnpj" required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="E-mail" labelPlacement="floating" type="email" name="email" [(ngModel)]="email"
                    required>
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-input label="Senha" labelPlacement="floating" type="password" name="password" [(ngModel)]="senha"
                    required>
                  </ion-input>
                </ion-item>
              </ion-list>

              <ion-button expand="block" class="login-button" type="submit" [disabled]="registerForm.invalid">
                Cadastrar
              </ion-button>
            </form>

            <div class="form-links">
              <p class="signup-link">
                Já tem uma conta?
                <a routerLink="/login">Acesse aqui</a>
              </p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>