<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ver-vagas"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Editar Vaga' : 'Criar Nova Vaga' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" size-lg="6">
          <div class="login-form-wrapper">

            <ion-text color="dark">
              <h2>{{ isEditMode ? 'Altere os dados da vaga' : 'Detalhes da Vaga' }}</h2>
            </ion-text>

            <form #vagaForm="ngForm" (ngSubmit)="salvarVaga()">
              <ion-list>

                <ion-item>
                  <ion-input label="Título da Vaga" labelPlacement="floating" type="text" name="titulo"
                    [(ngModel)]="vagaData.titulo" required #titulo="ngModel">
                  </ion-input>
                </ion-item>
                <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="validation-error">
                  <p *ngIf="titulo.errors?.['required']">O título é obrigatório.</p>
                </div>

                <ion-item>
                  <ion-select label="Curso Requerido" labelPlacement="floating" name="curso"
                    [(ngModel)]="vagaData.curso" required #curso="ngModel">
                    <ion-select-option *ngFor="let curso of cursosList" [value]="curso">
                      {{ curso }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="curso.invalid && (curso.dirty || curso.touched)" class="validation-error">
                  <p *ngIf="curso.errors?.['required']">Deve selecionar um curso.</p>
                </div>

                <ion-item>
                  <ion-textarea label="Descrição da Vaga" labelPlacement="floating" name="descricao"
                    [(ngModel)]="vagaData.descricao" required  #descricao="ngModel" autoGrow="true">
                  </ion-textarea>
                </ion-item>
                <div *ngIf="descricao.invalid && (descricao.dirty || descricao.touched)" class="validation-error">
                  <p *ngIf="descricao.errors?.['required']">A descrição é obrigatória.</p>
               
                </div>

                <ion-item>
                  <ion-input label="Contato (E-mail ou Telefone)" labelPlacement="floating" type="text" name="contato"
                    [(ngModel)]="vagaData.contato" required #contato="ngModel">
                  </ion-input>
                </ion-item>
                <div *ngIf="contato.invalid && (contato.dirty || contato.touched)" class="validation-error">
                  <p *ngIf="contato.errors?.['required']">O contato é obrigatório.</p>
                </div>

              </ion-list>

              <ion-button expand="block" class="login-button" type="submit" [disabled]="!vagaForm.valid">
                {{ isEditMode ? 'Salvar Alterações' : 'Publicar Vaga' }}
              </ion-button>
            </form>

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>